@model HandleErrorInfo

@{
    ViewBag.Title = "[[[Opps!]]]";
    Layout = null;
}

<hgroup class="title">
    <h1 class="error">Opps!, something went wrong</h1>
</hgroup>


<input type="hidden" name="empty" id="empty" value="
    12345678901234567890123456789012345678901234567890
    12345678901234567890123456789012345678901234567890
    12345678901234567890123456789012345678901234567890
    12345678901234567890123456789012345678901234567890
    12345678901234567890123456789012345678901234567890
    12345678901234567890123456789012345678901234567890
    12345678901234567890123456789012345678901234567890
    12345678901234567890123456789012345678901234567890
    12345678901234567890123456789012345678901234567890
    12345678901234567890123456789012345678901234567890
    12345678901234567890123456789012345678901234567890
    12345678901234567890123456789012345678901234567890" />
