@model HandleErrorInfo

@{
    ViewBag.Title = "[[[Not Found]]]";
    Layout = null;
}


<hgroup class="title">
    <h1 class="error">The resource you are looking for has not been found</h1>
</hgroup>