@model EOS2.Web.ViewModels.BaseViewModel
    
@if (Model.ShowPersonas) { 

<h3>[[[Personas]]]</h3>

<p>
    [[[The following accounts have been created to allow you to use the EOS system in the guise of a user. The user you pick will control what you can see and what you can do.]]]
</p>

<div class="row">

    <div class="col-5 sol-sm-5 col-lg-3">
        <h4>[[[EOS Owner]]]</h4>
        <hr />
        <p>[[[User Login]]]: steve.sprott</p>
        <p>[[[Password]]]: !12345678A</p>        
        <hr />
    </div>

        <div class="col-5 sol-sm-5 col-lg-3">
            <h4>[[[Portal Agent]]]</h4>
            <hr />
            <p>[[[User Login]]]: daniel.priory</p>
            <p>[[[Password]]]: !12345678A</p>
            <hr />
        </div>

    <div class="col-5 sol-sm-5 col-lg-3">
        <h4>[[[Portal Agent]]]</h4>
        <hr />
        <p>[[[User Login]]]: keith.kraylic</p>
        <p>[[[Password]]]: !12345678A</p>
        <hr />
    </div>
    
    <div class="col-5 sol-sm-5 col-lg-3">
        <h4>[[[Service Provider]]]</h4>
        <hr />
        <p>[[[User Login]]]: sam.morris</p>
        <p>[[[Password]]]: !12345678A</p>
        <hr />
    </div>
    
    <div class="col-5 sol-sm-5 col-lg-3">
        <h4>[[[Customer Administrator]]]</h4>
        <hr />
        <p>[[[User Login]]]: kim.roberts</p>
        <p>[[[Password]]]: !12345678A</p>
        <hr />
    </div>
    
    <div class="col-5 sol-sm-5 col-lg-3">
        <h4>[[[Customer Site Manager]]]</h4>
        <hr />
        <p>[[[User Login]]]: damian.brett</p>
        <p>[[[Password]]]: !12345678A</p>
        <hr />
    </div>
</div>
}