@using EOS2.Web.Extensions
@model EOS2.Web.Areas.Organizations.ViewModels.Instruments.AvailableInstrumentsViewModel
<h2>[[[Available Instruments]]]</h2>
<hr />

<div class="row">  
    <div class="col-md-10">
        <div class="create-channels-info">
            <h4>Add channels</h4>
            <p>Please use the form below to set up the channels for the Instrument</p>
        </div>

        @using (Html.BeginRouteForm("CustomerOrganization_SitePlantAreaEquipmentAvailableInstruments",
                new { Model.CustomerId, Model.SiteId, Model.PlantAreaId, Model.EquipmentId }, 
                FormMethod.Post, 
                new { @class = "form-inline", @role = "form" }))
        {
            <div class="form-group">
                <label class="sr-only">Available Instruments</label>
                <p class="form-control-static">Select Instrument</p>
            </div>
            <div class="form-group">
                <label for="SelectedInstrumentId" class="sr-only">Available Instruments</label>
                @Html.DropDownListI18NFor(m => m.SelectedInstrumentId, Model.AvailableInstruments, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-default">Select Channels</button>
            <br/>
            @Html.ValidationMessageFor(m => m.SelectedInstrumentId)                
        }

    </div>
</div>




